<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action='/addTeacher/<%=EditTeacher._id%>?_method=PUT' method="post">
        <input type="text" name="name" value="<%=EditTeacher.name%>">
        <input type="text" name="Teacher_id"value="<%=EditTeacher.Teacher_id%>"/>
        <input type="text" name="Branch"value="<%=EditTeacher.Branch%>"/>
        <input type="text" name="category"value="<%=EditTeacher.category%>"/>
        <button>Submit</button>

    </form>
</body>
</html>
